[submodule "plugged/deoplete-elm"]
	path = plugged/deoplete-elm
	url = https://github.com/pbogut/deoplete-elm.git
[submodule "plugged/coc-eslint"]
	path = plugged/coc-eslint
	url = https://github.com/neoclide/coc-eslint.git
[submodule "plugged/coc-prettier"]
	path = plugged/coc-prettier
	url = https://github.com/neoclide/coc-prettier.git
[submodule "plugged/coc-tsserver"]
	path = plugged/coc-tsserver
	url = https://github.com/neoclide/coc-tsserver.git
[submodule "plugged/vim-hindent"]
	path = plugged/vim-hindent
	url = https://github.com/alx741/vim-hindent.git
[submodule "plugged/vim-sandwich"]
	path = plugged/vim-sandwich
	url = https://github.com/machakann/vim-sandwich.git
[submodule "plugged/vim-test"]
	path = plugged/vim-test
	url = https://github.com/vim-test/vim-test.git
[submodule "plugged/vim-sayonara"]
	path = plugged/vim-sayonara
	url = https://github.com/mhinz/vim-sayonara.git
[submodule "plugged/vim-fugitive"]
	path = plugged/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "plugged/splitjoin.vim"]
	path = plugged/splitjoin.vim
	url = https://github.com/AndrewRadev/splitjoin.vim.git
[submodule "plugged/neomake"]
	path = plugged/neomake
	url = https://github.com/neomake/neomake.git
[submodule "plugged/ale"]
	path = plugged/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "plugged/vim-tig"]
	path = plugged/vim-tig
	url = https://github.com/codeindulgence/vim-tig.git
[submodule "plugged/vim-rails"]
	path = plugged/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "plugged/vim-polyglot"]
	path = plugged/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule "plugged/vim-grepper"]
	path = plugged/vim-grepper
	url = https://github.com/mhinz/vim-grepper.git
[submodule "plugged/vim-elm-syntax"]
	path = plugged/vim-elm-syntax
	url = https://github.com/andys8/vim-elm-syntax.git
[submodule "plugged/vim-endwise"]
	path = plugged/vim-endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "plugged/vim-commentary"]
	path = plugged/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "plugged/vim-airline-themes"]
	path = plugged/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "plugged/vim-airline"]
	path = plugged/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "plugged/nerdtree-git-plugin"]
	path = plugged/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin.git
[submodule "plugged/nerdtree"]
	path = plugged/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "plugged/neoformat"]
	path = plugged/neoformat
	url = https://github.com/sbdchd/neoformat.git
[submodule "plugged/haskell-vim"]
	path = plugged/haskell-vim
	url = https://github.com/neovimhaskell/haskell-vim.git
[submodule "plugged/elm-vim"]
	path = plugged/elm-vim
	url = https://github.com/elmcast/elm-vim.git
[submodule "plugged/coc.nvim"]
	path = plugged/coc.nvim
	url = https://github.com/neoclide/coc.nvim.git
[submodule "plugged/nvim-autopairs"]
	path = plugged/nvim-autopairs
	url = https://github.com/windwp/nvim-autopairs.git
[submodule "plugged/vim-mix-format"]
	path = plugged/vim-mix-format
	url = https://github.com/mhinz/vim-mix-format.git
[submodule "plugged/fzf-preview.vim"]
	path = plugged/fzf-preview.vim
	url = https://github.com/chengzeyi/fzf-preview.vim.git
[submodule "plugged/fzf"]
	path = plugged/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "plugged/fzf.vim"]
	path = plugged/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "plugged/fzf-checkout.vim"]
	path = plugged/fzf-checkout.vim
	url = https://github.com/stsewd/fzf-checkout.vim.git
[submodule "plugged/vim-rooter"]
	path = plugged/vim-rooter
	url = https://github.com/airblade/vim-rooter.git
[submodule "plugged/wilder.nvim"]
	path = plugged/wilder.nvim
	url = https://github.com/gelguy/wilder.nvim.git
